doctype html
html
	head
		block title
		link(rel='stylesheet', href='/stylesheets/style.css')
		style.
			table{width:800px;border:1px solid #ddd;margin:0 auto;border-collapse:collapse;}th{background:#eeeeee;}th,td{border:1px solid #ddd;padding:10px;}a{margin-right: 10px;text-decoration:none;}
	body
		block content